{% extends "main/base.html" %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h2><u>Изменение пароля</u></h2>
<p>Напоминаем Ваше имя пользователя: <b>{{ user.username }}</b></p>
<p>Имя пользователя нужно, чтобы Ваш браузер правильно сохранил пароль для нашего сайта.</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Отправить</button>
</form>
{% else %}
<p>Вы не авторизованы</p>
{% endif %}
{% endblock %}