{% extends "main/base.html" %}

{% block title %}Контакты{% endblock %}

{% block content %}
<h2>Контакты</h2>
<p>Telegram: <a href="https://t.me/s4F9v">@s4F9v</a></p>
<p>РФ, Москва</p>
<!-- Profi.ru widget start -->
<div class="profi-widget" data-id="82a09a78c7fb284230f78f2f3970f361" data-type="300x100">
    Powered by <a href="https://profi.ru/profile/ZhukovAV54">Profi.ru</a>
</div>
<script src="https://profi.ru/jqs/widget/widget.js"></script>
<!-- Profi.ru widget end -->
<br />
{% endblock %}