{% extends "main/base.html" %}

{% block title %}Контакты{% endblock %}

{% block content %}
<h2><u>Контакты</u></h2>
<p>Почта: <b>mail</b> собачка <b>microintervals</b> точка <b>ru</b></p>
<p>РФ, Москва</p>
<!-- Profi.ru widget start -->
<div class="profi-widget" data-id="82a09a78c7fb284230f78f2f3970f361" data-type="300x100">
    Powered by <a href="https://profi.ru/profile/ZhukovAV54">Profi.ru</a>
</div>
<script src="https://profi.ru/jqs/widget/widget.js"></script>
<!-- Profi.ru widget end -->
<br />
{% endblock %}