{% extends "main/base.html" %} {% block title %}Главная{% endblock %} {% block content %}

<h2><u>Главная страница</u></h2>
<!-- <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Показать вводную информацию</button>
    <div id="demo" class="collapse"> -->
<div class="row">
    <div class="col-sm-4">
        <h3>Здравствуйте!</h3>
        <p>
            Меня зовут Алексей, <b>я Fullstack-разработчик</b>. Есть профильное
            образование.
        </p>
        <p>
            Интересуют кейсы по
            <b>созданию сайтов, CRM и API на python-фреймворке Django</b>.
            Возможны консультации и обучение по этой теме.
        </p>
    </div>
    <div class="col-sm-4">
        <h3>Как?</h3>
        <p>
            Вы <a href="{% url 'registration' %}">регистрируетесь на сайте</a> и
            создаете кейс в личном кабинете. Или можно просто
            <a href="{% url 'contacts' %}">написать мне</a> на электронную
            почту.
        </p>
        <p>
            Я занимаюсь Вашим кейсом и помогаю в его реализации. В случае
            необходимости обращаюсь за консультацией к другим специалистам.
        </p>
    </div>
    <div class="col-sm-4">
        <h3>Когда?</h3>
        <p>
            Как только я получаю Ваш кейс, я сообщаю Вам, смогу ли я помочь, но
            не позже чем через 24 часа.
        </p>
        <p>Сроки реализации кейса зависят от сложности.</p>
    </div>
</div>
<!-- </div> -->
<div>
  <script src="https://unpkg.com/@vkid/sdk@<3.0.0/dist-sdk/umd/index.js"></script>
  <script type="text/javascript">
    if ('VKIDSDK' in window) {
      const VKID = window.VKIDSDK;

      VKID.Config.init({
        app: 53654454,
        redirectUrl: 'https://microintervals.ru/accounts/vk/login/callback/',
        responseMode: VKID.ConfigResponseMode.Callback,
        source: VKID.ConfigSource.LOWCODE,
        scope: '', // Заполните нужными доступами по необходимости
      });

      const oneTap = new VKID.OneTap();

      oneTap.render({
        container: document.currentScript.parentElement,
        showAlternativeLogin: true
      })
      .on(VKID.WidgetEvents.ERROR, vkidOnError)
      .on(VKID.OneTapInternalEvents.LOGIN_SUCCESS, function (payload) {
        const code = payload.code;
        const deviceId = payload.device_id;

        VKID.Auth.exchangeCode(code, deviceId)
          .then(vkidOnSuccess)
          .catch(vkidOnError);
      });
    
      function vkidOnSuccess(data) {
        // Обработка полученного результата
      }
    
      function vkidOnError(error) {
        // Обработка ошибки
      }
    }
  </script>
</div>
<div class="row">
    <div class="col-sm-4">
        <h3>Статистика:</h3>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">Общее число кейсов</div>
                <div class="panel-body">
                    <span class="badge">{{ total_orders }}</span>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">В работе</div>
                <div class="panel-body">
                    <span class="badge">{{ in_progress_orders}}</span>
                    <div><br /></div>
                    <!--<div class="progress">
                    <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 0%">
                    </div>
                </div>-->
                </div>
            </div>

            <div class="panel panel-success">
                <div class="panel-heading">Завершено</div>
                <div class="panel-body">
                    <span class="badge">{{ done_orders }}</span>
                    <div><br /></div>
                    <!--<div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%">
                        </div>
                    </div>-->
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">На рассмотрении</div>
                <div class="panel-body">
                    <span class="badge">{{ under_consideration_orders }}</span>
                    <div><br /></div>
                    <!--<div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" style="width: 0%">
                    </div>
                </div>-->
                </div>
            </div>

            <div class="panel panel-warning">
                <div class="panel-heading">
                    Степень нашей загруженности
                    <span class="label label-default">New</span>
                </div>
                <div class="panel-body">
                    <span class="badge">Оптимальная</span>
                </div>
            </div>

            <div class="panel panel-danger">
                <div class="panel-heading">Отменено</div>
                <div class="panel-body">
                    <span class="badge">{{ total_cancelled_orders }}</span>
                    <div><br /></div>
                    <!--<div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 0%">
                    </div>
                </div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <h3>Новое в блоге:</h3>
        <a href="/blog/authorization-via-link">Статья об авторизации по ссылке</a>
    </div>    
</div>

{% endblock %}
