{% extends "main/base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<h2><u>Главная страница</u></h2>
<!--<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Показать вводную информацию</button>
    <div id="demo" class="collapse"> -->
        <div class="row">
            <div class="col-sm-4">
                <h2>Здравствуйте</h2>
                <p>Меня зовут Алексей, я Fullstack разработчик. Есть профильное образование.</p>
                <p>Интересуют кейсы по созданию сайтов и CRM на Django. Возможны консультации и обучение по этой теме.</p>
            </div>
            <div class="col-sm-4">
                <h2>Как</h2>
                <p>Вы регистрируетесь на сайте и создаете кейс в ЛК. Или просто <a href="{% url 'contacts' %}">напишите</a> мне на электронную почту.</p>
                <p>Я занимаюсь Вашим кейсом и помогаю в его реализации. В случае необходимости обращаюсь за консультацией к другим
                    специалистам.</p>
            </div>
            <div class="col-sm-4">
                <h2>Когда</h2>
                <p>Как только я получаю Ваш кейс, я сообщаю Вам, смогу ли я помочь, но не позже чем через 24 часа.</p>
                <p>Сроки реализации кейса зависят от сложности.</p>
            </div>
        </div>
    <!-- </div> -->
{% endblock %}