{% extends "main/base.html" %}

{% block title %}Политика конфиденциальности{% endblock %}

{% block content %}
<h2><u>Политика конфиденциальности</u></h2>
    <p>
        Сайт использует куки, которые хранятся на вашем устройстве. Без них невозможна работа с личным кабинетом.
        Продолжая пользоваться сайтом, Вы даёте согласие на использование куки.
    </p>
    <p>
        Персональные данные типа Вашего имени и адреса электронной почты, указанные в форме регистрации, не будут переданы третьим лицам.
    </p>
{% endblock %}